.banner-principal-decorativo
  &-1
    animation: float1 2.8s ease-in-out infinite alternate
    position: absolute
    top: 35%
    right: 33%
    width: 290px


@keyframes float1
  0%
    transform: translateY(20px)

  100%
    transform: translateY(0px)


.fondo-tarjeta
  background-image: url('../assets/curso/temas/panel-azul.png')
  max-width: 100%;
  height: auto;

.fondo-tarjeta2
  background-image: url('../assets/curso/temas/panel-azul2.png')
  max-width: 100%;
  height: auto;

.dimesion
   @media (max-width: 500px)
    width: 2%
    margin-left: 25%

.tarjeta.color-blanco
  background-color: #fff

.testdisenio
    right: 325px    
    background-color: #fff

.testdisenio2
  left: 508px

.testdisenioiz
  left: 1px    
  background-color: rgba(255, 255, 255, 0.95)

.testdisenioiz2
  right: 508px

.bloque-texto-b.color-acento-contenido:before 
  background-color: #E9F8D0

.bloque-gris
  background-color: #E8E8E8
    
.bloque-texto-g__texto2
  right: 500px    
  background-color: #fff
  position: sticky
  width: 70%
  //text-align: center

@media (max-width: 500px)
  .bloque-texto-g__texto2
    width: 100%

.bloque-texto-g__texto
  background-color: #fff

.bloque-texto-g__img.carimg
  left: 510px
  
@media (max-width: 500px)
  
  .bloque-texto-g__img.carimg 
    left: 0px


.lista-ol--cuadro__vineta 
  background-color: #fc4b52
  display: inline-block
  min-width: 24px
  height: 24px
  color: #fff
  position: relative
  margin-right: 8px

.img-reducir-paso
  width: 500px
  height: 300px

.bloque-texto-b i 
  color: #FC4B52

.tarjeta--naranja 
  background-color: #FFF7DE

.acordion__accion__btn--a 
  background-color: #a7e446

.slyder-a__btn--sigt
  background-color: #feca2e

.slyder-a__btn--atrs
  background-color: #feca2e

.bloque-texto-a.color-primario 
  background-color: #E8E8E8

.tarjeta--gris 
  background-color: #FFF7DE

.tarjeta--container

.tarjeta:last-child

.tarjeta:first-child 

.tarjeta1
  background-color: #FBA7AA

.tarjeta2
  background-color: #F2787D

.bloque-texto-a.color-acento-contenido 
  background-color: #E8E8E8

.bloque-texto-a.color-secundario 
  background-color: #FC4B52

.bloque-texto-a.color-secundario:before 
  background-color: #D9EAEA
